/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace; /* Typewriter font */
    color: #333;
    background-color: #faebd0; /* Real wood paper color */
}

header {
    background-color: #663300; /* Dark wood color for contrast */
    color: #faebd0;
    padding: 20px 0;
    border-bottom: 2px solid #fff; /* Adding a border to separate the header */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
}

nav a {
    color: #faebd0;
    text-decoration: none;
    padding: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fff;
    text-decoration: underline;
}

.title {
    font-family: 'Courier New', Courier, monospace; /* Typewriter font */
    font-size: 36px; /* Make font size bigger */
    text-align: center; /* Center the title */
    margin-bottom: 40px; /* Add some space below the title */
    color: #333; /* Text color */
}

main section {
    padding: 50px 10%;
    background-size: cover;
    background-position: center;
    min-height: 500px; /* Adjust the height as necessary */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for content readability */
    padding: 20px;
    border-radius: 10px;
    max-width: 800px; /* Adjust as necessary for layout */
    margin: auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }


